@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

#root {
  border: 1px solid rgba(128, 128, 128, 0.504);
}

#dev {
  font-size: 36px;
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  width: max-content;
  cursor: default;
  display: inline-flex; align-items: baseline;
}

#myName {
  position: absolute;
  cursor: default;
  top: 60px;
  left: 5px;
  font-size: 64px;
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 800;
  font-style: normal;
}


/* MENU */
.menu-wrapper { position: relative; }
.dropdown {
  position: absolute;
  top: -160px;
  left: -35px;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: max-content;
  width: 120px;
font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  
}

.dropdown-item:hover {
  color: gray;
}