@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

#root {
  border: 1px solid rgba(128, 128, 128, 0.504);

  overflow-y: auto;       /* scroll apenas aqui */
  overflow-x: hidden;
    scrollbar-width: none; /* Firefox */

}

#root::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

#dev {
  font-size: 36px;
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  width: max-content;
  cursor: default;
  display: inline-flex; align-items: baseline;
}

#myName {
  /*position: absolute;*/
  cursor: default;
/*  top: 60px;
  left: 5px;
  font-size: 64px; */
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 800;
  font-style: normal;
}

#glitch-wrapper {
  position: absolute;
  z-index: 3;
  top: 90px;
  left: 5px;
}

/* MENU */
.menu-wrapper { position: relative; }
.dropdown {
  position: absolute;
  top: -160px;
  left: -35px;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: max-content;
  width: 120px;
font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  
}

.dropdown-item a:hover {
  color: gray;
}


/* Pages */
#textHome {
  font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: default;
}

#infoText {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  opacity: 0.5;
}

#infoP {
  font-family: "Inter", sans-serif;
    cursor: default;

}

#infoA {
  color: #606c38;
}
#infoA:hover {
  opacity: 0.5;
}

#topics {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  cursor: default;
}

#infoTitle {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  color: #283618;
}

#titleDesc {
  opacity: 0.7;
}

#titleProject {
    font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
}

#stars {
  position: relative;
  
}

#starone {
  position: absolute;
  right: 400px;
  top: -30px;
  color: #283618;
}

#startwo {
  position: absolute;
  z-index: 2;
  color: #283618;
}

#starthree {
  position: absolute;
  right: -10px;
  z-index: 1;
  color: #283618;
  opacity: 0.6;
}

/* Imagens */
.image {
  background-size: cover;
  border-radius: 10px;
}

.flip-container {
  border-radius: 10px;
}

.flip-content-one {
 box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.flip-content-two {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

