@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

#root {
  border: 1px solid rgba(128, 128, 128, 0.504);

  overflow-y: auto;       /* scroll apenas aqui */
  overflow-x: hidden;
    scrollbar-width: none; /* Firefox */

}

#root::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

#dev {
  font-size: 36px;
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  width: max-content;
  cursor: default;
  display: inline-flex; align-items: baseline;
}

#myName {
  /*position: absolute;*/
  cursor: default;
/*  top: 60px;
  left: 5px;
  font-size: 64px; */
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 800;
  font-style: normal;
}

#glitch-wrapper {
  position: absolute;
  z-index: 3;
  top: 90px;
  left: 5px;
}

/* MENU */
.menu-wrapper { position: relative; }
.dropdown {
  position: absolute;
  top: -160px;
  left: -35px;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: max-content;
  width: 120px;
font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  
}

.dropdown-item a:hover {
  color: gray;
}


/* Pages */
#textHome {
  font-family: "Inter", sans-serif;
    font-weight: 500;
    cursor: default;
}

#infoText {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  opacity: 0.5;
}

#infoP {
  font-family: "Inter", sans-serif;
    cursor: default;

}

#infoA {
  color: #606c38;
}
#infoA:hover {
  opacity: 0.5;
}

#topics {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  cursor: default;
}

#infoTitle {
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
  color: #283618;
}

#titleDesc {
  opacity: 0.7;
}

#titleProject {
    font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
}

#stars {
  position: relative;
  
}

#starone {
  position: absolute;
  right: 400px;
  top: -30px;
  color: #283618;
}

#startwo {
  position: absolute;
  z-index: 2;
  color: #283618;
}

#starthree {
  position: absolute;
  right: -10px;
  z-index: 1;
  color: #283618;
  opacity: 0.6;
}

#titleLab {
    font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
}

#iconsLab {
  position: relative;
}

#iconlabone {
  position: absolute;
  top: -50px;
  right: 120px;
  font-size: 25px;
   color: #283618;
}

#iconlabtwo {
  position: absolute;
  bottom: -40px;
  font-size: 26px;
   color: #283618;
}

#iconlabthree {
  position: absolute;
  top: -65px;
  right: 140px;
  opacity: 0.7;
   color: #283618;
}

#repoDiv {
    font-family: "Iosevka Charon Mono", monospace;
  font-weight: 300;
}

#titleRepo {
  font-weight: 600;
  font-size: 42px
}

#repoDiv p {
  font-size: 20px;
}

.line {
  border: 1px solid;
  width: 80%;
  margin: auto;
  opacity: 0.3;
  margin-top: 20px;
}

#containerRepo:hover {
  background-color: #283618;
  color: #fefae0;
  cursor: pointer;

}

/* Imagens */
.imageone {
  border-radius: 10px;
  background-image: url('/images/Jahint.png');
  background-size: cover;
  height: 100%;
  background-position: top;
   box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

}

.imagetwo {
  border-radius: 10px;
  background-image: url('/images/myDesk.png');
  background-size: cover;
  height: 100%;
  background-position: top;
   box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

}


/*
.flip-container {
  border-radius: 10px;
}

.flip-content-one {
 box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}
.flip-content-two {
 box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}
*/

/* Contact Page */
.circle {
  background-color: #283618;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.contactLinks {
  width: max-content;
  font-family: "Iosevka Charon Mono", monospace;
  font-weight: 500;
  color: #606c38;
  font-size: 20px;
}

.contactLinks a:hover {
  opacity: 0.5;
}

.form {
    font-family: "Iosevka Charon Mono", monospace;

}

.form h4 {
  font-size: 42px;
}

.form input {
  background-color: rgb(212, 209, 209);
  border-radius: 5px;
}

.form textarea {
  background-color: rgb(212, 209, 209);
  border-radius: 5px;
}

.placeholder-right::placeholder {
  text-align: right;
  color: black;
}

.form button {
  cursor: pointer;
  width: max-content;
  color: #606c38;
}

.form button:hover {
  color: #283618;
}